<div
  class="flex flex-col gap-2 p-2 border border-slate-800 bg-slate-950 rounded-xl items-center justify-center cursor-pointer transition-colors duration-150"
  [ngClass]="{
    'hover:bg-amber-800': state() === 'pending',
    'bg-amber-950 hover:bg-emerald-900': state() === 'inprogress',
    'bg-emerald-950 hover:bg-red-950': state() === 'done',
  }"
  (click)="toggleState()"
>
  <h1>{{ item().name }}</h1>
  <div class="w-[200px] h-[200px] relative">
    @if (!previewLoaded()) {
      <div
        class="flex items-center justify-center absolute top-0 left-0 w-full h-full transition-opacity"
      >
        <hlm-spinner />
      </div>
    }
    <img
      class="absolute top-0 left-0 transition-opacity opacity-0"
      [class.loaded]="previewLoaded()"
      [src]="previewLink()"
      (load)="previewLoaded.set(true)"
      loading="lazy"
    />
  </div>
</div>
